@{
    ViewData["Title"] = "Order Confirmation";
}

<h2>Order Confirmation</h2>

<p>Your order has been placed successfully!</p>
<p>Please go to the Transaction page to enter your details then</p>
<p>Please go to the Order history page to view your past and present orders</p>

